@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: 'Prompt', sans-serif;
  margin: 0;
  box-sizing: border-box; }

html body {
  width: 1440px;
  margin: 0 auto; }

.container_heropage {
  position: relative;
  background-image: url(/img/BG.png);
  width: 1440px;
  height: 1156px; }
  .container_heropage .top-header-heropage {
    display: flex;
    width: 1440px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .container_heropage .top-header-heropage .logo-header {
      height: fit fit-content;
      width: fit-content;
      margin-left: 96px; }
    .container_heropage .top-header-heropage .btn-contact {
      background-color: #FFFFFF;
      border-radius: 10px;
      width: 210px;
      height: 46px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 96px;
      margin-top: 18px; }
      .container_heropage .top-header-heropage .btn-contact .phone-logo {
        width: 20px;
        height: 20px;
        margin-left: 27px; }
      .container_heropage .top-header-heropage .btn-contact .phone-number {
        color: #3956FB;
        font-family: Prompt;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        margin-right: 27px; }
  .container_heropage .text-header .text-main {
    width: 800px;
    height: 112px;
    right: 622px;
    top: 169px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    margin-top: 41px;
    margin-left: 96px;
    color: #FFFFFF; }
  .container_heropage .text-header .information-text {
    margin-top: 30px;
    margin-left: 96px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px; }
  .container_heropage .text-header .year-weight-information {
    display: flex;
    margin-left: 96px;
    margin-top: 32px; }
    .container_heropage .text-header .year-weight-information .year-information {
      display: flex;
      flex-direction: column; }
    .container_heropage .text-header .year-weight-information .logo_baohanh_align {
      display: flex;
      align-items: center;
      margin-top: 5px; }
      .container_heropage .text-header .year-weight-information .logo_baohanh_align .text-baohanh {
        font-family: Prompt;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        margin-left: 6px; }
    .container_heropage .text-header .year-weight-information .weight-information {
      display: flex;
      flex-direction: column;
      margin-left: 32px; }
    .container_heropage .text-header .year-weight-information .logo_energy_align {
      display: flex;
      align-items: center;
      margin-top: 5px; }
      .container_heropage .text-header .year-weight-information .logo_energy_align .text-energy {
        font-family: Prompt;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        margin-left: 6px; }
  .container_heropage .text-header .text-year-weigh {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    font-family: Montserrat;
    color: #FFFFFF; }
  .container_heropage .image_machine_ice_scolldown .image_machine {
    position: absolute;
    top: 273px;
    left: 748px;
    right: 48px; }
  .container_heropage .image_machine_ice_scolldown .ice_image {
    position: absolute;
    top: 414px;
    left: 1280px;
    right: 32px; }
  .container_heropage .image_machine_ice_scolldown .scolldow {
    position: absolute;
    top: 816px;
    left: 704px;
    right: 704px; }
  .container_heropage .big-text {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px; }
  .container_heropage .big-text {
    position: absolute;
    width: 1120px;
    height: 160px;
    font-family: Prompt;
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 70px;
    color: #043C9C;
    display: flex;
    justify-content: center;
    margin-top: 480px;
    margin-left: 160px;
    margin-right: 160px; }
  .container_heropage .ice_image_bigger {
    position: absolute;
    top: 1135px;
    left: 1248px;
    right: 50px; }

.container_maylamdavien {
  position: relative;
  width: 1440px;
  height: 742px;
  margin-top: 102px;
  display: flex; }
  .container_maylamdavien .img_maylamdavien {
    position: relative;
    margin-top: 70px; }
  .container_maylamdavien .information_maylamdavien {
    position: relative;
    margin-top: 70px;
    margin-left: 50px; }
    .container_maylamdavien .information_maylamdavien .header_maylamdavien {
      font-family: Prompt;
      font-style: normal;
      font-weight: bold;
      font-size: 54px;
      line-height: 68px;
      color: #043C9C; }
    .container_maylamdavien .information_maylamdavien .text_maylamdavien {
      width: 508px;
      height: 128px;
      margin-top: 16px;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 25px;
      color: #5C7392; }
  .container_maylamdavien .text_hinhdangda {
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #043C9C;
    margin-top: 34px; }
  .container_maylamdavien .box_align {
    display: flex; }
    .container_maylamdavien .box_align .regular_box_infor {
      position: relative; }
      .container_maylamdavien .box_align .regular_box_infor .regular_box {
        margin-top: 34px; }
      .container_maylamdavien .box_align .regular_box_infor .regular_text {
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        /* identical to box height, or 179% */
        text-align: center;
        color: #5C7392; }
      .container_maylamdavien .box_align .regular_box_infor .line_of_20mm_regular {
        position: absolute;
        width: 31.76px;
        height: 0px;
        top: 35px;
        left: -5px;
        border: 1px solid #043C9C;
        transform: rotate(-28.18deg); }
      .container_maylamdavien .box_align .regular_box_infor .line_of_29mm_regular {
        position: absolute;
        width: 32px;
        height: 0px;
        top: 27px;
        left: 28px;
        border: 1px solid #043C9C; }
      .container_maylamdavien .box_align .regular_box_infor .line_of_22mm_regular {
        position: absolute;
        width: 36.39px;
        height: 1.94px;
        top: 45px;
        left: 53px;
        border: 1px solid #043C9C;
        transform: rotate(62deg); }
      .container_maylamdavien .box_align .regular_box_infor .text_20mm_regular {
        position: absolute;
        width: 25px;
        height: 12px;
        left: -5px;
        top: 24px;
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        /* identical to box height */
        color: #043C9C;
        transform: rotate(-28deg); }
      .container_maylamdavien .box_align .regular_box_infor .text_29mm_regular {
        position: absolute;
        width: 24px;
        height: 12px;
        left: 32px;
        top: 15px;
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        /* identical to box height */
        color: #043C9C;
        transform: rotate(0.16deg); }
      .container_maylamdavien .box_align .regular_box_infor .text_22mm_regular {
        position: absolute;
        width: 24px;
        height: 12px;
        left: 64px;
        top: 35px;
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        /* identical to box height */
        color: #043C9C;
        transform: rotate(62deg); }
    .container_maylamdavien .box_align .dice_box_infor {
      position: relative;
      margin-left: 44px; }
      .container_maylamdavien .box_align .dice_box_infor .dice_box {
        margin-top: 34px; }
      .container_maylamdavien .box_align .dice_box_infor .dice_text {
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        /* identical to box height, or 179% */
        text-align: center;
        color: #5C7392; }
      .container_maylamdavien .box_align .dice_box_infor .line_of_22mm_left_dice {
        position: absolute;
        width: 26.62px;
        height: 0px;
        left: -6px;
        top: 36px;
        border: 1px solid #043C9C;
        transform: rotate(-29deg); }
      .container_maylamdavien .box_align .dice_box_infor .line_of_22mm_top_dice {
        position: absolute;
        width: 34px;
        height: 0px;
        left: 24px;
        top: 28px;
        border: 1px solid #043C9C;
        transform: rotate(2deg); }
      .container_maylamdavien .box_align .dice_box_infor .line_of_22mm_right_dice {
        position: absolute;
        width: 36.39px;
        height: 0px;
        left: 52px;
        top: 47px;
        border: 1px solid #043C9C;
        transform: rotate(62deg); }
      .container_maylamdavien .box_align .dice_box_infor .text_22mm_left_dice {
        position: absolute;
        width: 24px;
        height: 12px;
        left: -9px;
        top: 25px;
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        color: #043C9C;
        transform: rotate(-29deg); }
      .container_maylamdavien .box_align .dice_box_infor .text_22mm_top_dice {
        position: absolute;
        width: 24px;
        height: 12px;
        left: 30px;
        top: 16px;
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        color: #043C9C;
        transform: rotate(1deg); }
      .container_maylamdavien .box_align .dice_box_infor .text_22mm_right_dice {
        position: absolute;
        width: 24px;
        height: 12px;
        left: 64px;
        top: 37px;
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        color: #043C9C;
        transform: rotate(62deg); }
    .container_maylamdavien .box_align .half_dice_infor {
      position: relative;
      margin-left: 44px; }
      .container_maylamdavien .box_align .half_dice_infor .half_dice_box {
        margin-top: 34px; }
      .container_maylamdavien .box_align .half_dice_infor .half_dice_text {
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        /* identical to box height, or 179% */
        text-align: center;
        color: #5C7392; }
      .container_maylamdavien .box_align .half_dice_infor .line_of_95mm_left_half_dice {
        position: absolute;
        width: 19.03px;
        height: 0px;
        left: -5px;
        top: 34px;
        border: 1px solid #043C9C;
        transform: rotate(-28.18deg); }
      .container_maylamdavien .box_align .half_dice_infor .line_of_29mm_top_half_dice {
        position: absolute;
        width: 36.5px;
        height: 0px;
        left: 19px;
        top: 29px;
        border: 1px solid #043C9C; }
      .container_maylamdavien .box_align .half_dice_infor .line_of_22mm_right_half_dice {
        position: absolute;
        width: 42.97px;
        height: 0px;
        left: 49px;
        top: 50px;
        border: 1px solid #043C9C;
        transform: rotate(62deg); }
      .container_maylamdavien .box_align .half_dice_infor .text_95mm_left_half_dice {
        position: absolute;
        width: 25px;
        height: 12px;
        left: -13px;
        top: 23px;
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        color: #043C9C;
        transform: rotate(-28deg); }
      .container_maylamdavien .box_align .half_dice_infor .text_29mm_top_half_dice {
        position: absolute;
        width: 24px;
        height: 12px;
        left: 26px;
        top: 17px;
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        color: #043C9C;
        transform: rotate(0.16deg); }
      .container_maylamdavien .box_align .half_dice_infor .text_22mm_right_half_dice {
        position: absolute;
        width: 24px;
        height: 12px;
        left: 64px;
        top: 40px;
        font-family: Prompt;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 12px;
        color: #043C9C;
        transform: rotate(62deg); }
  .container_maylamdavien .btn_maylamdavien {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 44px;
    position: relative;
    width: 214px;
    height: 56px;
    background: #4762FC;
    border-radius: 10px;
    margin-top: 30px; }
    .container_maylamdavien .btn_maylamdavien .text_btn {
      font-family: Prompt;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 48px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0; }

.container_dipenser {
  position: relative;
  width: 1440px;
  height: 626px;
  margin-top: 58px;
  background-image: url(/img/background_dipenser.png);
  background-color: #4762FC;
  padding: 1px; }
  .container_dipenser .text_header {
    position: relative;
    width: 444px;
    height: 144px;
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 68px;
    /* or 126% */
    color: #FFFFFF;
    margin-left: 264px;
    margin-top: 66px; }
  .container_dipenser .text_infor_dipenser {
    position: relative;
    width: 508px;
    height: 88px;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    /* or 147% */
    color: #FFFFFF;
    margin-left: 264px;
    margin-top: 16px; }
  .container_dipenser .text_hinhdangda {
    position: relative;
    width: 468px;
    height: 24px;
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 264px;
    margin-top: 22px; }
  .container_dipenser .nugget_align {
    position: relative;
    width: fit-content;
    margin-left: 264px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container_dipenser .nugget_align .nugget_type_image {
      width: 76px;
      height: 50px; }
    .container_dipenser .nugget_align .text_nugget {
      font-family: Prompt;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 25px;
      /* identical to box height, or 179% */
      text-align: center;
      color: #FFFFFF;
      margin-top: 14px; }
  .container_dipenser .btn_dipenser {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 44px;
    width: 214px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 264px;
    margin-top: 30px; }
    .container_dipenser .btn_dipenser .text_btn {
      font-family: Prompt;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 48px;
      /* or 267% */
      display: flex;
      align-items: center;
      color: #3956FB; }
  .container_dipenser .depenser_machine {
    position: absolute;
    left: 784px;
    right: 122px;
    top: 68px; }
  .container_dipenser .ice_image_3 {
    position: absolute;
    left: 36px;
    right: 1186px;
    top: 650px; }
